includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Class Laravel\\Nova\\[a-zA-Z\\\]+ not found#'
        - '#Parameter \$[a-zA-Z]+ of method [a-zA-Z\\\:]+\(\) has invalid type Laravel\\Nova\\[a-zA-Z\\\]+#'
        - '#Return type .* of method .* has invalid type Laravel\\Nova\\.*#'
        - '#Call to static method .* on an unknown class Laravel\\Nova\\.*#'
