includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Actions/AttachToRole.php
        - src/Fields/PermissionBooleanGroup.php
        - src/Fields/RoleBooleanGroup.php
        - src/Fields/RoleSelect.php
        - src/Nova/Permission.php
        - src/Nova/Role.php
        - src/Http/Middleware/Authorize.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Class Laravel\\\\Nova#'
        - '#has invalid type Laravel\\\\Nova#'
        - '#on an unknown class Laravel\\\\Nova#'
        - '#BaseToolClass not found#'
        - '#does not call parent constructor#'
        - '#Unable to resolve the template type#'
        - '#PHPDoc tag @var#'
